.ship {
  border-radius: 10px;
  border: none;
  color: white;
  background-color: var(--contrast);
  text-align: center;
}
.carrier {
  background-color: var(--red);
}
.battleship {
  background-color: var(--green);
}
.submarine {
  background-color: var(--blue);
}
.cruiser {
  background-color: var(--purple);
}
.destroyer {
  background-color: var(--mauve);
}
