#gameCreatorWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.shipWrapper {
  display: flex;
  gap: 5px;
  border: 1px solid black;
  padding: 5px;
}
.ship {
  cursor: pointer;
}
#shipTable {
  justify-self: center;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#creationGameboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
